body {
    background-color: #1F1F1F;
  }
  
  title {
    color: #585757;
    text-align: center;
  }
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: #514745;
  }